#header {background: url('../../images/bg-header.png') no-repeat 50% 50%;background-size: cover;color: white;position: relative;
  &::after {content: '';background: rgba(black,.24);display: block;position: absolute;left: 0;top: 0;width: 100%;height: 100%}
}
.header_container {position: relative;z-index: 1}
.header_col__left {display: flex;align-items: center;justify-content: space-between}
.header_col__right {}

.header_menu {}
.header_menu__item {display: inline-block;
  + .header_menu__item {margin-left: 10px}
  a {color: white}
}



.header_title {text-align: center;font-weight: $font-bold;margin: 50px 0}
.header_search {max-width: 700px;margin: 0 auto 50px}
.header_search__form {position: relative;display: flex;border: solid 1px white;padding: 12px 20px;margin: 0 0 15px;
  @include border-radius(36px)
}
.header_search__input {background: transparent;flex: 1;border: none;color: white;font-size: $font-size-m;
  @include placeholder-color(white)
}
.header_search__btn {background: transparent;color: white;border: none;font-size: $font-size-b}


.header_nav {}
.header_nav__item {display: inline-block;padding: 10px;font-size: $font-size-tiny;color: #E2E2E2;font-weight: $font-bold;position: relative;border-bottom: solid 2px transparent;
  &:hover,
  &.active {color: white;border-bottom-color: white}
}

@media (min-width: $bp-xs) {
   .header_nav__item {padding: 10px 15px;font-size: $font-size-s}
}
@media (min-width: $bp-md) {
  .header_menu {margin-left: 20px}
  .header_col__left {justify-content: flex-start}

  .header_nav__item {font-size: $font-size-b}
}