#nav_main {background: url('../../images/bg_menu.jpg') repeat-x 0 0}
.nav_container {display: flex;align-items: center}
.nav_lst {flex-grow: 1;font-family: $font-title;}
.nav_item {display: inline-block;text-transform: uppercase;font-weight: bold;padding: 7px 25px;
	a {color: $color-text-secondary;}
}
