#page_blog {}
.blog_list {padding-top: 30px}
.blog_item {border-radius: 4px;position: relative;border: 1px solid #e3e3e3;margin-bottom: 20px;
	@include transition(all .3s ease);
	&:hover {border-color: $color-brand}
}
.blog_item__thumb {display: block;font-size: 0;position: relative;
	&::before{content: '';display: block;
		@include responsive-ratio (3,2);
	};
	img {@include responsive-ratio-img()}
}
.blog_item__detail {padding: 20px 16px;}
.blog_item__title {font-weight: 700;font-size: 1em;margin-bottom: 5px;line-height: 1.5}
.blog_item__time {color: #6c757d;font-size: .75em;}
.blog_item__viewmore {display: inline-block;width: 100%;text-align: right;margin-top: 18px;color: #1aa94c;white-space: nowrap;font-size: .9em;font-weight: 700;text-decoration: underline;}




