.blog_highlight {display: flex;margin: 0 0 20px;padding: 8px 10px;border: solid 1px $color-border;border-radius: 4px}
.blog_highlight__thumb {display: block;font-size: 0;position: relative;width: 90px;flex-shrink: 0;margin: 0 10px 0 0;
	&::before{content: '';display: block;
		@include responsive-ratio (3,2);
	};
	img {@include responsive-ratio-img()}
}
.blog_highlight__detail {}
.blog_highlight__title {margin-bottom: 0;font-size: 1rem;font-weight: 700;
	@include line-number(3);
}
.blog_highlight__time {}
