#section_customer {}
.customer_list {margin-bottom: 30px}
.customer_item {text-align: center;font-size: 0;position: relative;display: block;
  @include responsive-ratio(2,1);
  img {@include responsive-ratio-img(contain)}
}
.customer_cta {background-color: #1aa94c;color: #fff;font-weight: 700;display: block;border-radius: 4px;}
.customer_cta_wrapper {position: relative;padding: 15px 50px;display: block}
.customer_cta_icon {position: absolute;top: 15px;left: 20px}
.customer_cta_arr {position: absolute;top: 50%;right: 20px;display: block;width: 20px;font-size: 0;
  @include translate(0,-50%);
}
