@font-face {
  font-family: 'Candara';
  src: url('../../fonts/Candara.eot');
  src: url('../../fonts/Candara.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Candara.woff2') format('woff2'),
  url('../../fonts/Candara.woff') format('woff'),
  url('../../fonts/Candara.svg#Candara') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
//@font-face {
//  font-family: 'Candara';
//  src: url('../../fonts/Candara-Bold.eot');
//  src: url('../../fonts/Candara-Bold.eot?#iefix') format('embedded-opentype'),
//  url('../../fonts/Candara-Bold.woff2') format('woff2'),
//  url('../../fonts/Candara-Bold.woff') format('woff'),
//  url('../../fonts/Candara-Bold.ttf') format('truetype'),
//  url('../../fonts/Candara-Bold.svg#Candara-Bold') format('svg');
//  font-weight: bold;
//  font-style: normal;
//  font-display: swap;
//}
//

$font-title: 'Candara'
