<div class="breadbrumb">
    <div class="breadbrumb_item">
        <a href="#">Trang chủ</a>
        <span >|</span>
    </div>
    <div class="breadbrumb_item current">
        Tin tức - Sự kiện
    </div>
</div>