
<h1 class="font_title">dsljfdsl ldsl</h1>

<div id="footer">
    <div class="container footer_container">
       <div class="footer_menu">
           <div class="row">
                <div class="col-md-3 col-6 footer_menu__col">
                    <div class="mb20">
                        <a href="#">
                            <img src="../../images/logo-recruitery.svg" alt=""/>
                        </a>    
                    </div>
                    <div class="footer_menu__row">
                        <a href="#">Giới thiệu về chúng tôi</a>
                    </div>
                    <div class="footer_menu__row">
                        <a href="#">Gia nhập đội ngũ</a>
                    </div>
                    <div class="footer_menu__row">
                        <a href="#">Blog</a>
                    </div>
                    <div class="footer_menu__social">
                        <a href="#" target="_blank">
                            <img src="../../images/facebook.svg" alt=""/>
                        </a>
                        <a href="#" target="_blank">
                            <img src="../../images/linkedin.svg" alt=""/>
                        </a>
                        <a href="#" target="_blank">
                            <img src="../../images/email.svg" alt=""/>
                        </a>
                    </div>
                </div>
               <div class="col-md-3 col-6 footer_menu__col">
                   <h3 class="footer_menu__title">Giới thiệu theo vị trí</h3>
                    <div class="footer_menu__row">
                        <a href="#">IT/Công nghệ</a>
                    </div>
                    <div class="footer_menu__row">
                        <a href="#">Non-IT</a>
                    </div>
                    <div class="footer_menu__row">
                        <a href="#">Tất cả công việc</a>
                    </div>
                </div>
               <div class="col-md-3 col-6 footer_menu__col text-right">
                   <h3 class="footer_menu__title">Nhà tuyển dụng</h3>
                    <div class="footer_menu__row">
                        <a href="#">Liên hệ tư vấn</a>
                    </div>
                    <div class="footer_menu__row">
                        <a href="#">Điều khoản</a>
                    </div>
                    <div class="footer_menu__row">
                        <a href="#">Tất cả công việc</a>
                    </div>
                </div>
                <div class="col-md-3 col-6 footer_menu__col text-right">
                    <h3 class="footer_menu__title">Cộng tác viên</h3>
                    <div class="footer_menu__row">
                        <a href="#">IT/Công nghệ</a>
                    </div>
                    <div class="footer_menu__row">
                        <a href="#">Non-IT</a>
                    </div>
                    <div class="footer_menu__row">
                        <a href="#">Tất cả công việc</a>
                    </div>
                </div>
           </div>
       </div>
        <hr class="section_line">
        <div class="copyright">
            <div class="container">
                <div class="mb10">Hotline: <a href="tel:+84909367757" class="color_brand">+84909367757</a> &nbsp; | &nbsp; Email: <a href="mailto:hello@recruitery.co" class="color_brand">hello@recruitery.co</a></div>
                <div class="">Copyright © 2018-2020 <a href="#" class="color_brand">Recruitery</a>, All rights reserved.</div>
            </div>
        </div>
    </div>
</div>