<!--=======================HEADER=======================++-->
<header id="header">
    <div class="container header_container">
        <div class="header_row">
            <div class="header_col__left">
                <h1 class="logo">
                    <a href="#" title="">
                        <img src="./../images/logo.png" alt=""/>
                    </a>
                </h1>
            </div>
            <div class="header_col__center">
                <div class="header_search">
                    <form class="header_search__form">
                        <input class="header_search__input" type="text" placeholder="Search entire store here..."/>
                        <button class="header_search__btn" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                </div>
            </div>
            <div class="header_col__right">
                <div class="header_user">
                    <a href="javascript:void(0)" rel="nofollow">
                        <i class="fas fa-user-friends"></i>
                    </a>
                </div>
                <div class="header_cart">
                    <div class="header_cart__icon">
                        <i class="far fa-shopping-basket"></i>
                        <span class="header_cart__items">0</span>
                    </div>
                    <div class="header_cart__price">
                        Your cart: <span class="color_red">$ 1.000.000</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--=======================//HEADER=======================-->
