<!--=======================HEADER=======================++-->
<header id="header">
    <div class="container header_container">
        <div class="header_row">
            <div class="header_col__left">
                <h1 class="logo">
                    <a href="#" title="">
                        <img src="./../images/logo.png" alt=""/>
                    </a>
                </h1>
            </div>
            <div class="header_col__center">
                <div class="header_search">
                    <form class="header_search__form">
                        <input class="header_search__input" type="text" placeholder="Describe your issue ..."/>
                        <button class="header_search__btn"><i class="far fa-search"></i></button>
                    </form>
                    <div class="px25">Ex: Membership Level, Tracking Orders, ...</div>
                </div>
            </div>
            <div class="header_col__right">
                <div class="header_user">

                </div>
                <div class="header_cart">

                </div>
            </div>
        </div>
    </div>
</header>
<!--=======================//HEADER=======================-->
