<!--=======================HEADER=======================++-->
<header id="header">
    <div class="container header_container">
        <div class="row">
            <div class="col-md-6">
                <div class="header_col__left">
                    <h1 class="logo">
                        <a href="#">
                            <img src="./../../images/logo.svg" alt=""/>
                        </a>
                    </h1>
                    <div class="header_menu">
                        <div class="header_menu__item">
                            <a href="#" title="">Help Center</a>
                        </div>
                        <div class="header_menu__item">
                            <a href="#" title="">Contact Us</a>
                        </div>
                    </div>
                </div>
                <div class="header_col__right">
                    <div class="language">

                    </div>
                </div>
            </div>
            <div class="col-md-6"></div>
        </div>
        <h2 class="header_title">Hi Ezbuy friend, How can we help you?</h2>
        <div class="header_search">
            <form class="header_search__form">
                <input class="header_search__input" type="text" placeholder="Describe your issue ..."/>
                <button class="header_search__btn"><i class="far fa-search"></i></button>
            </form>
            <div class="px25">Ex: Membership Level, Tracking Orders, ...</div>
        </div>
        {% include '../components/header-nav.twig' %}
    </div>
</header>
<!--=======================//HEADER=======================-->