<div class="topbar">
    <div class="container">
        <div class="topbar__row">
            <div class="topbar__col_left">
                <div>
                    <i class="far fa-clock mr-2"></i>Mở cửa: 8:00 - 21:30
                </div>
                <div class="">
                    Hotline Mua hàng - Dịch vụ: <a href="tel:0703522522" rel="nofollow"><strong class="fs_25">0703.522.522</strong></a>
                </div>
            </div>
            <div class="topbar__col_right">
                <div>Trường thọ SPA</div>
            </div>
        </div>
    </div>
</div>
