<div class="topbar">
    <div class="container">
        <div class="topbar__row">
            <div class="topbar__col_left">
                <div class="d-flex align-items-center">
                    <i class="far fa-clock fs-20 mr-2"></i>Mở cửa: 8:00 - 21:30
                </div>
                <div class="d-flex align-items-center">
                    <i class="fas fa-phone fs-20 mr-2"></i><span class="mr-3">Hotline Mua hàng - Dịch vụ:</span> <a href="tel:0703522522" rel="nofollow"><span class="fs-25">0703.522.522</span></a>
                </div>
            </div>
            <div class="topbar__col_right">
                <div><i class="fas fa-credit-card-blank mr-2"></i> Trường thọ SPA</div>
            </div>
        </div>
    </div>
</div>
