{% extends "../layout/layout.twig" %}
{% block pageTitle %} Siêu thị điện máy CPN Việt Nam {% endblock %}
{% block page %}
    <div id="page_home" class="page_main">
        {% include '../layout/topbar.twig' %}
        {% include '../layout/header.twig' %}
        {% include '../layout/navigation.twig' %}
        <div class="page_body">
            <div class="container">
                {% include './../components/home/home-banner.twig' %}
                {% include './../components/home/service-box.twig' %}
                {% include './../components/home/box-sale.twig' %}
                <div class="home_main">
                    {% include './../components/home/box-laptop.twig' %}
                    {% include './../components/home/box-computer.twig' %}
                    {% include './../components/home/box-air-conditioning.twig' %}
                    {% include './../components/home/box-tivi.twig' %}
                    {% include './../components/home/box-refrigerator.twig' %}
                </div>
            </div>
        </div>

        <div class="home_bottom">
            <div class="back_top_bar">
                <i class="fal fa-arrow-up"></i><strong>BACK TO TOP</strong><i class="fal fa-arrow-up"></i>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-8">
                        {% include '../components/home/block-news.twig' %}
                    </div>
                    <div class="col-4">
                        {% include '../components/home/block-customer.twig' %}
                    </div>
                </div>
            </div>
        </div>
        {% include '../layout/footer.twig' %}
    </div>
{% endblock %}
