//Color
$gray: #333;
$gray-light: #666;

$dark: #262626;
$light: #8C8C8C;

$red: #F44336;
$green: #7EC362;
$purple: #3F51B5;
$blue: #1890FF;

$color-brand: #ff3c00;
$color-brand-second: #00194F;

$color-bg: #fff ;
$color-bg-body: #FAFAFA ;
$color-bg-secondary: #e7eeef;
$color-bg-footer: #e7eeef;

$color-text: #333;
$color-text-secondary: $gray-light;
$color-text-third: #8C8C8C;

$color-disabled: #8C8C8C;
$color-border: #e3e3e3;

$transparent: transparent !default;
$colors: () !default;
$colors: map-merge((
		"transparent":           $transparent,
		"brand":           $color-brand,
		"bg":           $color-bg,
		"text-primary":         $color-text,
		"text-second":  $color-text-secondary,
		"link":         $blue,
		"blue":         $blue,
		"red":          $red,
		"gray":         $gray,
		"gray-light":   $gray-light,
		"green":        $green,

		"danger":       $red,
		"error":        $red,

		"dark":         $dark,
		"border-primary":       $color-border,

		"disabled":      $color-disabled,

		"line-form":    $color-border,
		"line-main":    $color-border,
		"line-sub":     $color-border,

		"prinmary":     $color-brand,
		"warning":     $transparent,


		"light":     $transparent,
		"lighter":     $transparent,


		"info":     $transparent,
		"success":     $transparent,
		"note":         $transparent,
		"hint":         $transparent,

), $colors);


//Fonts-size
//$font-size-base: 15px;
$font-size-tiny: 12px;
$font-size-xs: 14px;
$font-size-s: 16px;
$font-size-m: 18px;
$font-size-b: 20px;
$font-size-bb: 32px;


$fws-pro: 'Font Awesome 5 Pro';
$font-as-pro: 'Font Awesome 5 Pro';

$font-family-sans-serif:     Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",  "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$grid-gutter-width:           10px !default;

$font-as-pro: 'Font Awesome 5 Pro';

$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:                $font-size-base * 1.25 !default; //20px
$font-size-sm:                $font-size-base * .875 !default; //14px

// Body
//
// Settings for the `<body>` element.

$body-color:                $color-text !default;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
				sm: 540px,
				md: 720px,
				lg: 960px,
				xl: 1200px
) !default;

$hr-border-color:             $color-border !default;