<div class="block_container block_news">
	<div class="block_header">
		<h3 class="block_title">Ý kiến khách hàng</h3>
	</div>
	<div class="block_body">
		<div class="news_slide">

		</div>
	</div>
</div>
