<div class="block_container block_news">
    <div class="block_header">
        <h3 class="block_title">Tin tức</h3>
        <div class="block_header__control">
            <a href="javascript:void(0)" rel="nofollow" class="prev">
                <i class="far fa-chevron-left"></i>
            </a>
            <a href="javascript:void(0)" rel="nofollow" class="next">
                <i class="far fa-chevron-right"></i>
            </a>
        </div>
    </div>
    <div class="block_body">
        <div class="news_lst">
            <div class="swiper-container news_slide">
                <div class="swiper-wrapper">
                    {% for i in 0..7 %}
                        <div class="swiper-slide">
                            <div class="news_item">
                                <a href="#" class="news_item__thumb" title="">
                                    <img src="http://placehold.jp/260x170.png" alt=""/>
                                </a>
                            </div>
                            <h3 class="news_item__title">
                                <a href="#" title="">Đón Sinh nhật - Tặng Quà khủng</a>
                            </h3>
                            <div class="news_item__des">
                                <p>Mỗi khách hàng có thể nhận nhiều phiếu bốc thăm, nhưng chỉ được nhận một giải
                                    thưởng trong chương trình khuyến mại này</p>
                            </div>
                            <div class="news_item__more">
                                <a href="#" title="">Read more</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
