{% set arrProduct = [
    'images/pc/pc-1',
    'images/pc/pc-2',
    'images/pc/pc-3',
    'images/laptop/laptop-3',
    'images/laptop/laptop-2',
    'images/laptop/laptop-1',
] %}

<div class="box_sale">
    <div class="box_sale__header">
        <div class="box_sale__title">
            <i class="fas fa-bolt"></i> Sale Kịch sàn
        </div>
        <div class="box_sale__countdown">
            54 Days : 23 Hour : 7 Mins : 21 Secs
        </div>
        <div class="box_sale__control">
            <div class="box_sale__arr">
                <a href="javascript:void(0)" rel="nofollow" class="prev">
                    <i class="far fa-chevron-left"></i>
                </a>
                <a href="javascript:void(0)" rel="nofollow" class="next">
                    <i class="far fa-chevron-right"></i>
                </a>
            </div>
            <a href="#" class="btn btn-secondary btn-sm box_sale__btn">
                <strong>Xem thêm</strong>
            </a>
        </div>
    </div>
    <div class="box_sale__body">
        <div class="box_sale__product">
            <div class="box_sale__swiper swiper-container">
                <div class="swiper-wrapper">
                    {% for i in 0..10 %}
                        <div class="swiper-slide">
                            <div class="product_item">
                                <span class="product_sale">-{{ random(99) }}%</span>
                                <a href="#" title="" class="product_item__thumb">
                                    <img src="{{ random(arrProduct) }}.png" alt=""/>
                                </a>
                                <h2 class="product_name">
                                    <a href="#" title="">HP 250 G8 389X8PA Intel Core i3 (Ma SP)</a>
                                </h2>
                                <div class="product_tag">
                                    <a href="#" title="">RAM 4GB</a>
                                    <a href="#" title="">SSD 256GB</a>
                                </div>
                                <div class="product_price">
                                    <div class="product_price__current">25.229.000đ</div>
                                    <div class="product_price__old">1.225.229đ</div>
                                    {% if item ==  7 %}
                                        <div class="product_status non_stock">
                                            <strong class="product_status__check"></strong>
                                            <span>Tạm hết</span>
                                        </div>
                                    {% else %}
                                        <div class="product_status">
                                            <strong class="product_status__check"></strong>
                                            <span>Còn hàng</span>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="product_gift">
                                    Quà trị giá: <strong>300.000đ</strong>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
